/* to allow bold text inside headings - will need to arrange a better method */
h1, h4 {
	font-weight: normal;
}
select.inline-block-after+* {
	display: inline-block !important;
	vertical-align: middle !important;
	margin-left: 1em;
	margin-right: 1em;
	color: #262626;
}

.jcf-select, .form-default {
	position: relative;
}
input {
	box-sizing: border-box;
	max-width: 100%;
}
.bar-label:before {
	border-left: 1px solid #C6C8CA;
	content: '';
	height: 15px;
	position: absolute;
	top: -20px;
	left: 50%;
}
.bar-label {
	position: relative;
	width: 280px;
	margin-left: -140px;
	line-height: 1.2em;
}
.box-label:before {
	border-left: 1px solid #429CA5;
	content: '';
	height: 15px;
	position: absolute;
	top: -15px;
	left: 50%;
}
.box-label {
	max-width: 350px;
	margin: 0 auto;
	position: relative;
	line-height: 1.2em;
}
@media (min-width: 768px) {
	.box-label {
		width: 550px;
		max-width: none;
		margin: 0 0 0 -154px;
		left: 50%;
	}
}
span.bar-value {
	margin-left: 2em;
	height: 23px;
}
span.bar {
	display: inline-block;
	height: 1em;
	vertical-align: middle;
	float: left;
	position: relative;
	top: 9px;
}
@media (max-width: 767px) {
	span.bar-value {
		display: block;
		text-align: right;
	}
	span.bar {
		float: none;
		top: 0;
	}
}
/*.btn-action {
	position: relative;
	padding-right: 40px
}
.btn-action:after {
	position: absolute;
	content: '\276d';
	font-size: 21px;
	right: 10px;
}*/
.input-group-search>.btn-icon {
	padding-left: 8px;
}



.tooltip-icon {
	color: #739F84;
	border: 1px solid #739F84;
	display: inline-block;
	text-align: center;
	width: 1.8em;
	height: 1.8em;
	line-height: 1.8em;
	border-radius: 0.9em;
	vertical-align: middle;
	margin-right: 15px;
}

.colour-boxes {
	display: block;
	text-align: center;
}
.colour-boxes .colour-box em {
	display: block;
	font-style: normal;
	font-size: 30px;
}
.colour-boxes .colour-box {
	margin: 15px;
	padding: 29px 5px;
	background-color: #F0F1F1;
	border: 1px solid;
	min-width: 210px;
	max-width: : 300px;
}
.colour-boxes .box-red {
	color: #EE426F;
	border-color: #EE426F;
}
.colour-boxes .box-green {
	color: #429CA5;
	border-color: #429CA5;
}
