.bg-transparent-gray {
	background-color: #d5d5d5;
	background-color: rgba(213, 213, 213, 0.8);
}

.bg-transparent-gray.triangle-above::after, .bg-transparent-gray.triangle-above::before {
	background: linear-gradient(135deg, rgba(213, 213, 213, 0), rgba(213, 213, 213, 0) 10px, rgba(213, 213, 213, 0.8) 10px);
}
.bg-gray.lighten-1.triangle-above::after, .bg-gray.lighten-1.triangle-above::before {
	background: linear-gradient(135deg, rgba(226, 226, 226, 0), rgba(226, 226, 226, 0) 10px, rgba(226, 226, 226, 1) 10px);
}

.triangle-above {
	position: relative;
}
.triangle-above::after, .triangle-above::before {
	content: '';
	position: absolute;
	left: 50%;
	right: 0%;
	height: 14px;
	top: -14px;
	background: #fff;
	background: linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0) 10px, rgba(255,255,255,1) 10px);
}
.triangle-above::before {
	transform: scaleX(-1);
	left: 0;
	right: 50%;
}



.discovery-button {
	background: #E6E7E8;
	line-height: 25px;
	border-radius: 22px;
	color: #6D6D6F !important;
	display: inline-block;
	padding: 10px 30px 10px 50px;
	font-size: 16px;
	position: relative;
	text-transform: uppercase;
	background-image: url("assets/icon_arrow-left.svg");
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: left 20px center;
}

.discovery-button:hover {
	background: #eaecef;
	text-decoration: none;
	background-image: url("assets/icon_arrow-left.svg");
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: left 20px center;
}


.jcf-select-inline {
	top: -6px;
	position: relative;
	display: inline-block !important;
	text-align: left;
}

.js-jcf-form .jcf-select, [data-dui-form] .jcf-select {
	margin-top: 0;
}

.js-jcf-form .jcf-select .jcf-select-text, [data-dui-form] .jcf-select .jcf-select-text {
	padding-right: 15px;
}
.input-group-search::before {
	margin-left: -35px;
}