.p-t-4 {
	padding-top: 100px;
}

.padding-bottom-large {
	padding-bottom: 10rem;
}

.padding-bottom-medium {
	padding-bottom: 5rem;
}

.line-Investment {
	border-top: 2px solid #739f84;
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 2px;
}

.icon-investment {
	width: 60px;
}

.card {
	margin-bottom: 20px;
}

.form-check {
	position: relative;
	display: block;
	padding-left: 1.25rem;
}

.section-banner {
	position: relative;
	min-height: 250px;
}

.section-banner .page-title {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/*height: 200px;*/
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.discovery-button {
	position: relative;
	margin-bottom: 48px;
}

.card-with-top-icons {
	margin-bottom: 70px;
}

.cardRoundIcon {
	border: 1px solid #739f84;
	background-color: #fff;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 95px;
	margin: 0 auto -50px;
	position: relative;
	top: -70px;
}

.cardRoundIcon img {
	width: 68px;
}



.triangle-after {
	position: relative;
}
.triangle-after::after, .triangle-after::before {
	content: '';
	position: absolute;
	left: 50%;
	right: 0%;
	height: 14px;
	bottom: 0;
	background: #fff;
	background: linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0) 10px, rgba(255,255,255,1) 10px);
	z-index: 1000;
}
.triangle-after::before {
	transform: scaleX(-1);
	left: 0;
	right: 50%;
}
.bg-transparent-gray-2 {
	background-color: #d5d5d5;
	background-color: rgba(230, 231, 232, 1);
}
.bg-transparent-gray-2.triangle-above::after, .bg-transparent-gray-2.triangle-above::before {
	background: linear-gradient(135deg, rgba(230, 231, 232, 0), rgba(230, 231, 232, 0) 10px, rgba(230, 231, 232, 1) 10px);
}





.list-tick-invest {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

.list-tick-invest li {
	background-image: url('assets/icon_tick.svg');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 24px 24px;
	padding-left: 35px;
	margin-bottom: 10px;
}


.nav-tabs {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.nav-tabs .nav-item .nav-link.active {
	border-bottom: 7px solid #004b8d;
}

.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link:focus {
	text-decoration: none;
}


.icon_invest-round-arrow-down {
	height: 42px;
	background-image: url("assets/icon_invest-round-arrow-down.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 42px;
}


.investment-blocks h5 {
	margin-bottom: 40px !important;
}

.investment-blocks ul {
	width: 70%;
	margin: 0 auto;
}

.investment-blocks ul {
	line-height: 1.4;
}

.timeline-dots {
	margin-top: 100px;
}

.timeline-dots span {
	position: relative;
}

.timeline-dots span.timeline-line {
	margin: 0 15px;
}

.timeline-dots span.timeline-line::before {
	content: "";
	display: inline-block;
	height: 1px;
	width: 120px;
	border-top: 1px solid #bcbec0;
	position: absolute;
	left: calc(50% - 60px);
	top: -30px;
	z-index: 10;
}

.timeline-dots span.timeline-point::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #f1f1f2;
	border: 1px solid #bcbec0;
	border-radius: 100%;
	position: absolute;
	top: -40px;
	left: calc(50% - 10px);
	z-index: 100;
}

.timeline-dots span.timeline-point.highlighted::before {
	width: 36px;
	height: 36px;
	top: -48px;
	left: calc(50% - 18px);
	background-color: #739f84;
	border-color: #739f84;
	z-index: 100;
}

.timeline-dots span.timeline-point.highlighted::after {
	content: url(assets/icon_tick.svg);
	display: inline-block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: -80px;
	left: calc(50% - 10px);
}

.investment-blocks .blocks-grey {
	width: 100%;
	display: inline-block;
}

.investment-blocks .blocks-grey > div {
	width: 50%;
	height: 150px;
	float: left;
}

.blocks-grey > div:first-child {
	background-color: #dcddde;
}
.blocks-grey > div:last-child {
	background-color: #e6e7e8;
}

.investment-bars {
	width: 100%;
	display: inline-block;
	position: relative;
	height: 180px;
	/*height: 220px;*/
	padding-top: 120px;
}

.investment-bars > div {
	line-height: 1.4;
	position: relative;
}

.investment-bars > div:first-child {
	text-align: right;
	width: 50%;
	float: left;
	padding-right: 10px;
}

.investment-bars > div:last-child {
	text-align: left;
	width: 50%;
	float: left;
	padding-left: 10px;
}

.investment-bars > div:only-child {
	text-align: center;
	width: 100%;
}

.investment-bars span.investment-bars-bar {
	display: inline-block;
	width: 20px;
	position: absolute;
	bottom: 59px;
	/*bottom: 105px;*/
}

.investment-bars > div:first-child span.investment-bars-bar {
	right: 10px;
}

.investment-bars > div:last-child span.investment-bars-bar {
	left: 10px;
}

.investment-bars > div:only-child span.investment-bars-bar {
	left: calc(50% - 10px);
}

.investment-bars:after {
	content: "";
	height: 1px;
	width: 50%;
	border-top: 1px solid #bcbec0;
	position: absolute;
	top: 105px;
	left: calc(100% - 75%);
}

ul.investment-bars-list {
	width: 100%;
	margin: 0 auto;
	display: inline;
}

ul.investment-bars-list li {
	display: inline-block;
}

.investment-bars-with-multiple-lines {
	height: 220px;
}

.investment-bars-with-multiple-lines span.investment-bars-bar {
	bottom: 105px;
}

.invest-warning {
	background-image: url("assets/icon_invest-warning.svg");
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 70px;
	line-height: 1.4;
	background-size: 72px 72px;
}

.invest-question {
	background-image: url("assets/icon_invest-question.svg");
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 60px;
	text-align: left;
	line-height: 1.4;
	min-height: 54px;
	background-size: 48px;
}








@media (min-width: 576px) {
	.section-banner {
		position: relative;
		min-height: 350px;
	}

	.discovery-button {
		margin-top: -100px;
	}

	.cardRoundIcon {
		border: 1px solid #739f84;
		background-color: #fff;
		border-radius: 100%;
		width: 100px;
		height: 100px;
		text-align: center;
		line-height: 95px;
		margin: 0 auto -50px;
		position: relative;
		top: -70px;
	}

	.sm-p-tb-4 {
		padding-top: 80px !important;
		padding-bottom: 80px !important;
	}
}

@media (min-width: 992px) {
	.lg-m-t-15rem {
		margin-top: 15rem;
	}

	.investment-blocks.row.d-flex {
        max-height: 1650px;
    }

    .investment-blocks.d-flex .investment-access-money { order: 1; }
	.investment-blocks.d-flex .investment-amount { order: 5; }
	.investment-blocks.d-flex .investment-fees { order: 2; }
	.investment-blocks.d-flex .investment-guarantees { order: 6; }
	.investment-blocks.d-flex .investment-tax { order: 3; }
	.investment-blocks.d-flex .investment-details { order: 7; }
	.investment-blocks.d-flex .investment-extrablocks { order: 4; }
}

@media (min-width: 992px) and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
   .investment-blocks.row.d-flex {
        height: 1500px;
    }

    .investment-blocks.d-flex .investment-access-money { order: 1; max-height: 440px;}
	.investment-blocks.d-flex .investment-amount { order: 5; max-height: 610px;}
	.investment-blocks.d-flex .investment-fees { order: 2; max-height: 320px;}
	.investment-blocks.d-flex .investment-guarantees { order: 6; max-height: 380px;}
	.investment-blocks.d-flex .investment-tax { order: 3; max-height: 420px;}
	.investment-blocks.d-flex .investment-details { order: 7; max-height: 400px;}
	.investment-blocks.d-flex .investment-extrablocks { order: 4; max-height: 320px;}
}

@media (max-width: 768px) {
	.nav-tabs .nav-item + .nav-item {
	    margin-left: 20px;
	}

	.nav-tabs .nav-item .nav-link {
		padding-left: 0;
		padding-right: 0;
	}
}


.switch {
  margin: 4rem auto;
}
/* main styles */
.switch {
  position: relative;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: #fff;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.25rem;
  overflow: hidden;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
  border-radius: 5rem;
  background: #4a4a4a;
  position: absolute;
  transition: 0.25s ease all;
}
.switch--horizontal {
  /*width: 18rem;*/
  height: 1.6rem;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 1rem;
}
.switch--horizontal input {
  height: 1.6rem;
  width: 6rem;
  left: 6rem;
  margin: 0;
}
.switch--horizontal label {
  font-size: 1rem;
  line-height: 1.6rem;
  display: inline-block;
  width: 2rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch--horizontal label:last-of-type {
  margin-left: 4rem;
}
.switch--horizontal .toggle-outside {
  background: #fff;
  position: absolute;
  display: inline-block;
  width: 2.7rem;
  left: 50%;
  top: 0;
  margin-left: -1.35rem;
}
.switch--horizontal .toggle-inside {
  height: 1.1rem;
  width: 1.1rem;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 1.35rem;
}
.switch--vertical {
  width: 12rem;
  height: 6rem;
}
.switch--vertical input {
  height: 100%;
  width: 3rem;
  right: 0;
  margin: 0;
}
.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 8rem;
  height: 50%;
  margin: 0;
  text-align: center;
}
.switch--vertical .toggle-outside {
  background: #fff;
  position: absolute;
  width: 3rem;
  height: 100%;
  right: 0;
  top: 0;
}
.switch--vertical .toggle-inside {
  height: 2.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 2.5rem;
}
.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.25rem;
}
.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 3.25rem;
}
.switch--no-label label {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.switch--no-label input:checked ~ .toggle-outside .toggle-inside {
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}
.switch--no-label input ~ input:checked ~ .toggle-outside {
  background: #fff;
}
.switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
  background: #2ecc71;
}
.switch--no-label.switch--vertical {
  width: 3rem;
}
.switch--no-label.switch--horizontal {
  width: 6rem;
}
.switch--no-label.switch--horizontal input,
.switch--no-label.switch--horizontal .toggle-outside {
  left: 0;
}
.switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
  width: 3.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
  height: 3.5rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 2.25rem;
}
/* mixin */

.question-mark:before {
	color: #727073;
	border: 2px solid #727073;
	content: '?';
	line-height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	height: 24px;
	width: 24px;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	border-radius: 12px;
}

.row .js-jcf-form .jcf-select, .row [data-dui-form] .jcf-select {
	min-width: 135px;
}
@media (max-width: 991px) {
	.row .js-jcf-form .jcf-select, .row [data-dui-form] .jcf-select {
		margin-top: 0;
		margin-bottom: 0;
	}
}
